@import './mixins';
@import './variables';

#about {
	@include section;
	background-color: $accent-color;

	.about-me-container {
		min-height: 100vh;
		margin: 0;
		margin-bottom: 10vh;

		.section-title {
			color: $bg-color;
			margin-bottom: 20vh;
		}

		.about-me-text {
			margin: 0 7vw;
			font-size: 28px;
			line-height: 31px;
		}
	}
}
