@import '_mixins';
@import '_variables';

#about {
	@include section;
	background-color: $accent-color;

	.about-me-container {
		.section-title {
			color: $bg-color;
			margin-bottom: 20vh;
		}

		.about-me-text {
			margin: 0 7vw;
			font-size: 28px;
			line-height: 31px;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	#about .about-me-container .about-me-text {
		margin-right: 30vw;
	}
}
