@import './mixins';
@import './variables';

#contact {
	@include section;
	padding-bottom: 0;

	.contact-container {
		margin: 0 7vw;
		margin-bottom: 12%;
	}

	.article-container {
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		max-width: 90vw;

		input,
		textarea,
		button {
			outline: none;
			margin-bottom: 10px;
			border-radius: 8px;
			border: 0px solid transparent;
			font-family: 'Poppins', sans-serif;
			font-size: 1.2rem;
			box-shadow: $smooth-shadow;
		}

		input,
		textarea {
			background: #2a2a2a;
			color: $text-color;
			font-weight: 200;
			padding-left: 20px;
		}

		textarea {
			resize: none;
		}

		.btn {
			cursor: pointer;
			color: $bg-color;
			background-color: $accent-color;
			height: 3rem;
			font-weight: 400;
			transition: all 3s ease;

			&:hover {
				background: $accent-gradient-inverted;
			}
		}

		input:focus,
		textarea:focus {
			box-shadow: 0 0 3px rgba($accent-color, 0.6);
		}

		::-webkit-input-placeholder {
			color: $text-color;
		}

		#form-name {
			margin-top: 4vh;
		}

		#form-text {
			height: 40vh;
			text-align: start;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	#contact .contact-container {
		margin-right: 20vw;

		.contact-form .btn {
			width: 150px;
		}
	}
}
