@import '_mixins';

.footer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-links-container {
	font-size: 2rem;
	display: flex;
	justify-content: center;

	a {
		color: $text-color;
		font-weight: 200;
		padding: 0 20px;
	}
}

.footer-message-container {
	@include accent-gradient;

	display: flex;
	width: 50%;
	justify-content: center;
	font-size: 0.8rem;
}
