@import '_mixins';
@import '_variables';

.title-container {
	height: 101vh;
	line-height: 100vh;
	margin-right: 20vw;
	margin-left: 7vw;

	.title {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		font-size: 3rem;
		line-height: 95%;
		letter-spacing: -0.03em;
		color: $text-color;
		font-weight: 300;

		#my-role {
			font-weight: 400;
			@include accent-gradient;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.title-container .title {
		font-size: 5rem;
	}
}
