@import '_variables';

@mixin section {
	min-height: 80vh;
	width: 100vw;
	padding: 10vh 0;
}

@mixin accent-gradient {
	background: $accent-gradient;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
