@mixin section {
    // position: relative;
    font-weight: 300;
    // margin: 0;
    min-height: 100vh;
    width: 100vw;

    .article-container {
        padding: 0 2rem;
    }
}

@mixin section-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}