.nav-container {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.nav-links {
    float: right;
    font-size: 18px;
    
    a {
        display: inline-block;
        color: $text-color;
        font-weight: 200;
        text-decoration: line-through;
        text-decoration-color: $accent-color;
        padding: 13px 30px 13px 30px;
    }
}