@import '_mixins';
@import '_variables';

.nav-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 95%;
	top: 1%;
	align-items: flex-end;
	z-index: 100;

	.burger {
		height: 3em;
		width: 3em;
		position: fixed;
		font-size: 1rem;
	}

	.nav-wrapper {
		position: absolute;
		margin-top: 3rem;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		float: right;
		font-size: 1.5rem;
		line-height: 3rem;
		text-align: right;
		transition: visibility 0s, opacity 0.5s linear;
		cursor: pointer;

		.nav-link {
			color: $text-color;
			text-decoration: none;
			z-index: 1000;
		}
	}

	.hidden {
		// display: none;
		visibility: hidden;
		opacity: 0;
	}
}

// .burger:after {
// 	content: '';
// 	display: block;
// 	position: absolute;
// 	height: 150%;
// 	width: 150%;
// 	top: -25%;
// 	left: -25%;
// }

.burger .burger-lines {
	top: 50%;
	margin-top: -0.125em;
}

.burger .burger-lines,
// .burger .burger-lines:after,
.burger .burger-lines:before {
	pointer-events: none;
	display: block;
	content: '';
	width: 100%;
	border-radius: 0.25em;
	background-color: $text-color;
	height: 0.25em;
	position: absolute;
	transform: rotate(0);
}

// .burger .burger-lines:after {
// 	top: -1em;
// }

.burger .burger-lines:before {
	top: 1em;
}

.burger.burger-squeeze .burger-lines,
// .burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
	transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
		0.4s background-color 0.2s;
}

// .burger.burger-squeeze .burger-lines:after,
.burger.burger-squeeze .burger-lines:before {
	width: 3em;
}

.burger.burger-squeeze.open .burger-lines,
// .burger.burger-squeeze.open .burger-lines:after,
.burger.burger-squeeze.open .burger-lines:before {
	transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
}

.burger.burger-squeeze.open .burger-lines {
	background-color: transparent;
}

.burger.burger-squeeze.open .burger-lines:before
// .burger.burger-squeeze.open .burger-lines:after
{
	left: 0;
	top: 0;
}

.burger.burger-squeeze.open .burger-lines:before {
	transform: rotate(-4deg);
}

// .burger.burger-squeeze.open .burger-lines:after {
// 	transform: rotate(45deg);
// }

@media (min-width: $breakpoint-tablet) {
	.nav-container {
		margin-left: 90vw;
		width: 70px;
		position: fixed;
		top: 0px;
		overflow: hidden;
		z-index: 100;
	}

	.current {
		@include accent-gradient;
		font-weight: 600;
	}
}
