@import '_mixins';
@import '_variables';

#photography-portfolio {
	@include section;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;

	.photo-text {
		margin: 5vh 7vw;
		color: $text-color;
		font-weight: 300;
		line-height: 0.5rem;
	}

	.la-instagram {
		@include accent-gradient;
		font-size: 1.5em;
		position: relative;
		top: 4px;
		right: 2px;
	}

	.photography-section-container {
		display: flex;

		.swiper-container {
			margin: auto 5px;
			align-items: center;
		}
	}

	.swiper-slide img {
		width: 100%;
		object-fit: cover;
		box-shadow: $smooth-shadow;
		border-radius: 5px;
	}

	.hand-container {
		width: 100%;
		display: flex;
		justify-content: center;

		.la-hand-point-up {
			@include accent-gradient;
			font-size: 3rem;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	#photography-portfolio .photography-section-container .swiper-container {
		margin: auto 5px;
		margin-bottom: 5vh;
	}
}
