@import '_mixins';
@import '_variables';

#web-portfolio {
	@include section;
	color: $text-color;
	font-size: 1.5rem;

	.web-projects-container {
		margin: 0 7vw;
	}

	.web-project {
		display: flex;
		flex-direction: column;
		margin-top: 10vh;

		.project-description {
			margin-top: 1.5rem;
		}

		.web-screenshot {
			filter: grayscale(1);
			box-shadow: $smooth-shadow;
			max-width: 80vw;
			border-radius: 10px;
		}

		.web-links {
			display: flex;
			align-self: flex-start;
			vertical-align: middle;
			// height: 80px;

			.project-link {
				font-size: 5rem;
				line-height: 0;
				width: fit-content;

				.la-github,
				.la-external-link-square-alt {
					@include accent-gradient;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	#web-portfolio {
		.web-projects-container {
			margin-top: 5vh;

			.web-projects {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 20px;
				row-gap: 70px;
				justify-items: center;
				margin: 0;

				.web-project {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-self: center;
					margin-top: 0;

					img {
						object-fit: cover;
						// display: none;
						// height: 100px;
						width: 90%;
					}

					.web-links {
						margin-top: auto;
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	#web-portfolio .web-projects-container {
		margin-top: 10vh;

		.web-projects {
			column-gap: 80px;
			row-gap: 120px;
		}
	}
}
