@import './mixins';
@import './portfoliocontainer';

#web-portfolio {
    @include section;

    .web-projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
    
        .web-project {
            align-self: start;
            display: flex;
            flex-direction: column;
            margin: 0 5vw;
            min-height: 30vh;
            margin: 4vh;

            .project-description {
                text-align: center;
            }
        
            .web-screenshot {
                width: 30vw;
                filter: gray;
                filter: grayscale(1);
                transition: all 0.5s 
                            cubic-bezier(0.7,-0.12, 0.28, 0.71);
            }
        
            .web-screenshot:hover{
                filter: none;
                filter: grayscale(0);
            }

            .project-link {
                text-decoration: none;
                width: fit-content;
                background: $accent-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
            }
        }
    }
}