@import './partials/base';

html, body {
    padding: 0;
    margin: 0;
    background: $bg-color;
    font-family: 'Poppins', sans-serif;
}

.accent-color {
    color: $accent-color;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 400;
    height: 3.5rem;
    width: fit-content;
    position: relative;
    box-shadow: inset 0 0px 0 white, inset 0 -8px 0 $accent-color;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .section-header {
    font-size: 1.5rem;
    height: 2rem;
    box-shadow: inset 0 0px 0 white, inset 0 -4px 0 $accent-color;
  }
}
