@import './partials/base';

html, body {
    padding: 0;
    margin: 0;
    background: $bg-color;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.accent-color {
    color: $accent-color;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 400;
    width: fit-content;
    position: relative;
    background-image: $accent-gradient;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition:
        background-size 
        .2s 
        cubic-bezier(0.7,-0.12, 0.28, 0.71);;
    &:hover {
        background-size: 100% 25%;
    }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .section-header {
    font-size: 1.5rem;
    height: 2rem;
    box-shadow: inset 0 -4px 0 $accent-color;
  }
}