#about {
  font-weight: 300;
  min-height: 100vh;
  width: 100vw;
}

#about .article-container {
  padding: 0 2rem;
}

#about .about-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-container {
  background-color: #EDB23E;
}

.about-me-container .about-me-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 31px;
}

#stack-experience {
  background-color: #1A1A1A;
  color: white;
  min-height: 100vh;
}

#stack-experience .stack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5em 0;
}

#stack-experience .stack-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-width: 100px;
  max-height: 100px;
  margin: 5px 5px 30px;
}

#stack-experience .stack-list .lab {
  padding: 0;
  font-size: 5rem;
}

#stack-experience .stack-list .tech-element {
  color: #EDB23E;
  font-size: 1.1rem;
}

#stack-experience ul {
  padding: 0;
}

#stack-experience .stack-joke {
  font-size: 1.5rem;
}

#contact {
  font-weight: 300;
  min-height: 100vh;
  width: 100vw;
}

#contact .article-container {
  padding: 0 2rem;
}

#contact .section-title {
  color: white;
  position: absolute;
  padding: 0 2rem;
}

#contact .article-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90vw;
}

#contact .contact-form input, #contact .contact-form textarea, #contact .contact-form button {
  outline: none;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 0px solid transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.12);
}

#contact .contact-form input, #contact .contact-form textarea {
  background: #2a2a2a;
  color: #E3E3E3;
  font-weight: 200;
  padding-left: 20px;
}

#contact .contact-form textarea {
  resize: none;
}

#contact .contact-form .btn {
  cursor: pointer;
  color: #1A1A1A;
  background-color: #EDB23E;
  height: 3rem;
  font-weight: 400;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

#contact .contact-form .btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f0e211), color-stop(35%, #edb23e), to(#edb23e));
  background: linear-gradient(90deg, #f0e211 0%, #edb23e 35%, #edb23e 100%);
}

#contact .contact-form input:focus, #contact .contact-form textarea:focus {
  -webkit-box-shadow: 0 0 3px rgba(237, 178, 62, 0.6);
          box-shadow: 0 0 3px rgba(237, 178, 62, 0.6);
}

#contact .contact-form ::-webkit-input-placeholder {
  color: #E3E3E3;
}

#contact .contact-form #form-name {
  margin-top: 4vh;
}

#contact .contact-form #form-text {
  height: 40vh;
  text-align: start;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links-container {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-links-container a {
  color: #E3E3E3;
  font-weight: 200;
  padding: 0 20px;
}

.footer-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#edb23e), color-stop(65%, #edb23e), to(#f0e211));
  background: linear-gradient(90deg, #edb23e 0%, #edb23e 65%, #f0e211 100%);
  font-size: 0.8rem;
}

.title-container {
  height: 100vh;
  line-height: 100vh;
  margin-right: 20vw;
  margin-left: 10vw;
}

.title-container .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #E3E3E3;
}

.title-container .title #my-role {
  background: -webkit-gradient(linear, left top, right top, from(#edb23e), color-stop(65%, #edb23e), to(#f0e211));
  background: linear-gradient(90deg, #edb23e 0%, #edb23e 65%, #f0e211 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#photography-portfolio {
  max-width: 100vw;
}

#photography-portfolio .section-title {
  padding: 0 2rem;
  color: white;
  position: absolute;
}

#photography-portfolio .photography-section-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#photography-portfolio .photography-section-container .swiper-container {
  margin: auto 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#photography-portfolio .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#photography-portfolio .scroll-arrows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  bottom: 25vh;
}

#photography-portfolio .scroll-arrows-container .scroll-arrows .single-scroll-arrow {
  font-size: 1.5rem;
}

#photography-portfolio .scroll-arrows-container .scroll-arrows .la-arrow-left {
  background: -webkit-gradient(linear, left top, right top, from(#edb23e), color-stop(65%, #edb23e), to(#f0e211));
  background: linear-gradient(90deg, #edb23e 0%, #edb23e 65%, #f0e211 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#photography-portfolio .scroll-arrows-container .scroll-arrows .la-arrow-right {
  background: -webkit-gradient(linear, left top, right top, from(#f0e211), color-stop(35%, #edb23e), to(#edb23e));
  background: linear-gradient(90deg, #f0e211 0%, #edb23e 35%, #edb23e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#web-portfolio {
  font-weight: 300;
  min-height: 100vh;
  width: 100vw;
  color: white;
  font-size: 1.5rem;
}

#web-portfolio .article-container {
  padding: 0 2rem;
}

#web-portfolio .web-project {
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10vh 0;
  min-height: 80vh;
}

#web-portfolio .web-project .project-description {
  margin: 0;
  margin-top: 1.5rem;
}

#web-portfolio .web-project .web-screenshot {
  -webkit-filter: gray;
          filter: gray;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.12), 0 0 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s cubic-bezier(0.7, -0.12, 0.28, 0.71);
  transition: all 0.5s cubic-bezier(0.7, -0.12, 0.28, 0.71);
}

#web-portfolio .web-project .web-screenshot:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#web-portfolio .web-project .web-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  vertical-align: middle;
  height: 80px;
}

#web-portfolio .web-project .web-links .project-link {
  background: -webkit-gradient(linear, left top, right top, from(#edb23e), color-stop(65%, #edb23e), to(#f0e211));
  background: linear-gradient(90deg, #edb23e 0%, #edb23e 65%, #f0e211 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  line-height: 0;
}

html, body {
  padding: 0;
  margin: 0;
  background: #1A1A1A;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.accent-color {
  color: #EDB23E;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#edb23e), color-stop(65%, #edb23e), to(#f0e211));
  background-image: linear-gradient(90deg, #edb23e 0%, #edb23e 65%, #f0e211 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.2s cubic-bezier(0.7, -0.12, 0.28, 0.71);
  transition: background-size 0.2s cubic-bezier(0.7, -0.12, 0.28, 0.71);
}

.section-header:hover {
  background-size: 100% 25%;
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  display: inherit;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: -0.07em;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
/*# sourceMappingURL=main.css.map */